@import "../fonts/font-awesome/css/font-awesome.min.css";
/* Table of Contents
------------------------------------------------------- *

	0. Bootstrap Fixes
	1. Less Variables & Mixins
	2. Top Bar
	3. Header
	4. Links
	5. Navigation Menu
	6. Slider
	7. Content
		7.1. Primary
		7.2. Secondary
	8. Pagination
	9. Footer
	10. HTML Markup and Formatting
	11. Widgets Style
	12. Comments	

/* 0. Bootstrap Fixes
-------------------------------------------------------	*/
body {
  background: #FFF;
}
#main {
  width: 100%;
}
.container {
  margin: auto;
}
code {
  white-space: pre-wrap !important;
}
.navbar-default .navbar-nav > li > a {
  color: none;
}
.navbar-default .navbar-nav > li > a:hover {
  color: none;
}
/* 1. Less Variables & Mixins
-------------------------------------------------------	*/
.font {
  font-family: "Noto Sans", Times, serif;
}
.font-heading {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}
.font-title {
  font-family: "Lato", Helvetica, sans-serif;
}
#parallax-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#page {
  position: relative;
  z-index: 888;
}
#page ::selection {
  background: #00ac97;
  color: white;
}
/* 2. Top Bar
------------------------------------------------------- */
#top-bar {
  background: #ffffff;
  padding: 5px 0px;
  position: relative;
  z-index: 99999;
  opacity: 0.8;
  border-bottom: 1px solid #B2B2B2;
  box-shadow: 0 2px 5px #4a4a4a;
}
#top-bar:hover {
  opacity: 1.0;
}
#social-icons {
  float: right;
  text-align: right;
}
.social-icon {
  color: #00796a;
  font-size: 28px;
  margin-right: 2px;
  position: relative;
  top: 0px;
  left: 0px;
  transition: ease 0.4s all;
}
.social-icon:hover {
  color: #00c6ad;
  text-shadow: 3px 3px 1px #00ac97;
  top: -1px;
  left: -1px;
}
a:hover .social-icon {
  text-decoration: none;
}
#top-search {
  position: relative;
  top: 7px;
  left: -15px;
  z-index: 999;
}
#top-search input[type=text] {
  background: #fafafa;
  outline: none;
  border: none;
  box-shadow: inset 0px -1px 1px #e6e6e6;
  width: 280px;
  padding-left: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "Lato", Helvetica, sans-serif;
}
#top-search input[type=text]:hover,
#top-search input[type=text]:focus {
  background: #e6e6e6;
}
#top-search ::-webkit-input-placeholder {
  color: #00796a;
}
#top-search :-moz-placeholder {
  /* Firefox 18- */
  color: #00796a;
}
#top-search ::-moz-placeholder {
  /* Firefox 19+ */
  color: #00796a;
}
#top-search :-ms-input-placeholder {
  color: #00796a;
}
#top-search button {
  position: relative;
  padding: 2px 5px;
  background: none;
  border: none;
  -webkit-linear-gradient: none;
  top: -2px;
  box-shadow: none;
  right: -30px;
  color: #006054;
}
/* 3. Header
------------------------------------------------------- */
body {
  font-family: "Noto Sans", Times, serif;
}
#masthead {
  margin: 60px auto;
  text-align: center;
}
.site-title {
  font-family: "Lato", Helvetica, sans-serif;
  position: relative;
  top: -10px;
}
.site-title a {
  color: #00ac97;
  font-size: 60px;
  font-weight: 200;
}
.site-title a:hover {
  text-decoration: none;
}
.site-description {
  font-family: "Lato", Helvetica, sans-serif;
  color: #b4b4b4;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: -10px;
}
.main_logo {
  max-width: 390px;
}
@media screen and (max-width: 400px) {
  .main_logo {
    max-width: 320px;
  }
}
@media screen and (max-width: 992px) {
  .site-title,
  #top-search,
  #social-icons {
    text-align: center;
    float: none;
    padding: 15px 5px;
  }
  .site-title {
    margin-top: -5px;
  }
  #social-icons,
  #top-search {
    padding: 10px 5px;
  }
}
/* 4. Links
------------------------------------------------------- */
a {
  color: #00ac97;
}
a:hover,
a:focus,
a:active {
  color: #00c6ad;
}
/* 5. Carousel Wrapper
------------------------------------------------------- */
#carousel-wrapper {
  margin-bottom: 55px;
  box-shadow: 0px 50px 40px -35px #aaaaaa;
  padding: 0px;
}
#carousel-wrapper .bx-wrapper .bx-next {
  background: none;
  margin-right: 10px;
}
#carousel-wrapper .bx-wrapper .bx-next .c-nav-bg {
  color: white;
  font-size: 42px;
  margin-top: 21px;
}
#carousel-wrapper .bx-wrapper .bx-prev {
  background: none;
  margin-left: -50px;
}
#carousel-wrapper .bx-wrapper .bx-prev .c-nav-bg {
  color: white;
  font-size: 42px;
  margin-top: 21px;
}
#carousel-wrapper .bx-wrapper .bx-viewport {
  box-shadow: none;
  height: 205px !important;
}
#carousel-wrapper .bx-wrapper .bx-viewport ul {
  margin-left: 0px;
}
#carousel-wrapper .bx-wrapper .bx-controls-direction a {
  text-indent: 0px;
  font-size: 42px;
  top: 37%;
}
#carousel-wrapper .bx-wrapper .bx-caption {
  pointer-events: none;
  position: absolute;
  bottom: 3px;
  left: 3px;
  max-width: 98% ;
  margin-bottom: -80px;
}
#carousel-wrapper .bx-wrapper .bx-caption a:hover {
  text-decoration: underline;
}
#carousel-wrapper .bx-wrapper .bx-caption span {
  font-family: "Noto Sans", Times, serif;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: normal;
}
#carousel-wrapper .bx-wrapper .bx-caption span:hover {
  background-color: #00c6ad !important;
}
/*
@media screen and (max-width: 500px) {
	.bx-controls-direction {
		display: none;
	}
}
*/
@media screen and (max-width: 767px) {
  #carousel-wrapper {
    width: 90%;
    margin-left: 6%;
  }
}
/* 5. Navigation Menu 
-------------------------------------------------------	*/
/* Default Navigation */
.nav-wrapper {
  /* 	   margin-bottom: -25px; */
}
#site-navigation {
  clear: both;
  display: block;
  display: inline-block;
  background: #ffffff;
  margin-top: -5px;
  padding-bottom: 0px;
  border: none;
  text-align: right;
  float: right;
  font-family: "Noto Sans", Times, serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: -5px;
}
#site-navigation .active > a,
#site-navigation .current_page_item > a {
  border-top: solid 4px #00ac97;
  background: none;
}
#site-navigation ul {
  float: right;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: 0px;
}
#site-navigation ul li:hover > ul {
  /* Dropdown*/
  display: block;
}
#site-navigation ul ul {
  display: none;
  float: left;
  position: absolute;
  top: 4em;
  left: 0;
  z-index: 99999;
  background: #eeeeee;
  text-align: left;
  border: none;
  padding-top: 0px;
  box-shadow: 0px 5px 4px -4px #4a4a4a;
}
#site-navigation ul ul ul {
  border: solid 1px #d5d5d5;
  left: 100%;
  top: 0;
}
#site-navigation ul ul a {
  min-width: 200px;
  max-width: 255px;
  font-size: 14px;
  font-weight: normal;
  color: #555;
  padding: 8px 20px;
  transition: all 0.2s ease;
}
#site-navigation ul ul a:hover {
  border-top: none;
  background: #333;
  color: #eee;
  padding: 8px 20px;
}
#site-navigation li {
  float: right;
  position: relative;
  clear: left;
}
#site-navigation .nav .caret {
  display: none;
}
#site-navigation a {
  display: block;
  color: #00ac97;
  text-decoration: none;
  padding: 16px 10px;
  font-weight: normal;
  border-top: solid 4px #ffffff;
}
#site-navigation a:hover {
  border-top: #00ac97 solid 4px;
  background: none;
}
#site-navigation ul ul a {
  font-size: 12px;
  border-top: none;
}
#site-navigation ul ul a:hover {
  border-top: none;
  background: none;
}
#site-navigation li:hover > a {
  border-top: #00ac97 solid 4px;
  padding-top: 16px;
  color: black;
}
#site-navigation ul ul li:hover > a {
  background: #ffffff;
  border-top: none;
  padding: 8px 20px;
  color: black;
}
@media screen and (max-width: 1199px) and (min-width: 767px) {
  #top-search {
    margin: auto;
    margin-bottom: 15px;
  }
  #site-navigation {
    width: auto;
    float: right;
    margin-bottom: 20px;
    text-align: center;
  }
  #site-navigation li {
    float: right;
    clear: left;
  }
  #site-navigation li:hover > a {
    border-top: none;
    padding-top: 20px;
  }
  #site-navigation .active > a,
  #site-navigation .current_page_item > a {
    border-top: solid 4px #ffffff;
    background: none;
  }
}
@media screen and (max-width: 767px) {
  #site-navigation {
    width: 100%;
  }
  #site-navigation .active > a,
  #site-navigation .current_page_item > a {
    border-top: solid 4px #ffffff;
    background: none;
  }
  #site-navigation ul {
    margin-left: 0px;
  }
  #site-navigation ul ul {
    display: none;
  }
  #site-navigation li {
    display: block;
    width: 100%;
    text-align: left;
  }
  #site-navigation li:hover > a {
    border-top: none;
    padding-top: 20px;
  }
  #site-navigation li:hover ul {
    display: none !important;
  }
  #site-navigation .navbar-default .navbar-collapse {
    border-color: #00ac97;
  }
}
#primary-nav-wrapper {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
}
#primary-navigation {
  clear: both;
  display: block;
  display: inline-block;
  background: #ffffff;
  margin-top: -5px;
  padding-bottom: 0px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Noto Sans", Times, serif;
  font-weight: 300;
  background: #fff;
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #ededed;
  box-shadow: #eeeeee 0px 7px 7px -4px inset;
  /* box-shadow: #eee 0px 0px 16px -2px inset; */
}
#primary-navigation .active > a,
#primary-navigation .current_page_item > a {
  background: none;
}
#primary-navigation ul {
  float: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: 0px;
}
#primary-navigation ul li:hover > ul {
  /* Dropdown*/
  display: block;
}
#primary-navigation ul ul {
  display: none;
  float: left;
  position: absolute;
  top: 2.8em;
  left: 0;
  z-index: 99999;
  background: #eeeeee;
  text-align: left;
  border: none;
  padding-top: 0px;
  box-shadow: 0px 5px 4px -4px #4a4a4a;
}
#primary-navigation ul ul ul {
  left: 100%;
  top: 0;
}
#primary-navigation ul ul a {
  min-width: 200px;
  max-width: 255px;
  font-size: 18px;
  color: #555;
  padding: 8px 20px;
  transition: all 0.2s ease;
}
#primary-navigation ul ul a:hover {
  border-top: none;
  background: #333;
  color: #eee;
  padding: 8px 20px;
}
#primary-navigation li {
  float: left;
  position: relative;
  clear: right;
  /* box-shadow: 9px 0px 12px -12px #222; */
  /* border-right: solid 1px #eee; */
  margin-bottom: 5px;
}
#primary-navigation li li {
  box-shadow: none;
  border-right: none;
}
#primary-navigation li:last-child {
  box-shadow: none;
  border-right: none;
}
#primary-navigation .nav .caret {
  display: none;
}
#primary-navigation a {
  display: block;
  color: #00c6ad;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
  transition: all 0.4s ease;
  margin-bottom: -5px;
}
#primary-navigation a:hover {
  background: none;
}
#primary-navigation ul ul a {
  font-size: 12px;
}
#primary-navigation ul ul a:hover {
  background: none;
}
#primary-navigation li:hover > a {
  color: #00ac97;
  background: #eee;
}
#primary-navigation ul ul li:hover > a {
  background: #ffffff;
  color: black;
}
/* Small menu */
.menu-toggle {
  display: none;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .menu-toggle,
  .primary-navigation.toggled .nav-menu {
    display: block;
    color: #00ac97;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    padding-bottom: 10px;
    position: relative;
    top: -8px;
    width: 100%;
    float: left;
  }
  #primary-navigation {
    width: 100%;
  }
  h1.menu-toggle {
    width: 100%;
  }
  .menu-toggle:before {
    content: "\f0ca";
    font-family: "FontAwesome";
    height: 0;
    width: 0px;
    margin-right: 20px;
    position: relative;
  }
  #nav-wrapper {
    width: 90%;
    margin-bottom: 15px;
    box-shadow: none;
  }
  .primary-navigation ul {
    display: none;
  }
  .primary-navigation ul a {
    padding: 5px;
  }
  .primary-navigation ul li {
    display: block;
    width: 100%;
    overflow: auto;
    height: auto;
  }
  #primary-navigation ul {
    text-align: center;
    font-size: 15px;
  }
  #primary-navigation ul a {
    padding: 5px;
  }
  #primary-navigation ul ul {
    display: none;
  }
  #primary-navigation ul ul li {
    display: none;
  }
  #primary-navigation ul li {
    box-shadow: none;
    border-right: none;
  }
}
@media screen and (max-width: 1100px) {
  /*
	#site-navigation {
		float: none;
		width: 100%;
		margin: auto;
	}
*/
}
/* 6. Slider
-------------------------------------------------*/
.slider-wrapper {
  margin: auto;
  margin-top: 35px;
  background: rgba(255, 255, 255, 0.8);
  padding-top: 15px;
  margin-bottom: 40px;
}
.slide-title {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  color: #ddd;
}
.nivo-caption {
  max-width: 750px;
  min-width: 200px;
  overflow: hidden;
  bottom: 15px;
  left: 10px;
}
.nivo-html-caption {
  display: none;
}
div.slide-title {
  font-size: 36px;
  display: block;
}
div.slide-description {
  font-family: Helvetica, Arial, sans-serif;
}
.nivo-imageLink {
  z-index: 99999;
}
@media screen and (max-width: 768px) {
  div.slide-title {
    font-size: 18px;
  }
  div.slide-description {
    font-size: 13px;
  }
}
/* 7. Content 
------------------------------------------------------- */
#content {
  background: white;
  border-top: solid 4px #ffffff;
  padding: none;
  padding-top: 15px;
  margin-right: 0px;
  margin-left: 0px;
}
/* 7.1 Primary 
------------------------------------------------------- */
#content .container {
  background: white;
}
#primary {
  padding: 20px 15px;
}
#primary .fa-clock-o:before,
#primary .fa-user:before {
  color: #00ac97 !important;
}
#primary .byline {
  display: inline;
}
article.archive .article-rest {
  margin: auto;
}
.featured-thumb {
  margin: auto;
  margin-top: 35px;
  overflow: hidden;
  width: 95%;
  padding: 0px;
}
.featured-thumb .img-meta {
  position: absolute;
  z-index: 9999;
  background: rgba(0, 198, 173, 0.5);
  width: 100%;
  height: 100%;
  left: 0px;
  display: none;
  text-align: center;
}
.featured-thumb .img-meta .meta-icon {
  display: inline-block;
  font-size: 24px;
  width: 36px;
  background: #00463d;
  border-radius: 4px;
  margin-top: 150px;
}
.featured-thumb .img-meta .meta-link {
  padding: 15px 25px;
  color: #00b19b;
  padding-left: 26px;
}
.featured-thumb .img-meta .meta-link:hover {
  color: #00e9cd;
  text-decoration: none;
}
.featured-thumb .img-meta .meta-link i {
  position: relative;
  left: -19px;
}
.featured-thumb .img-meta .meta-link .icon-link {
  left: -17px;
}
.featured-thumb .img-meta .img-meta-img .meta-link {
  padding-left: 24px;
}
.featured-thumb:hover .img-meta {
  background: rgba(0, 198, 173, 0.65);
}
.featured-thumb:hover img {
  -webkit-transform: scale(1.05);
  opacity: 0.98;
}
.featured-thumb img {
  box-shadow: 0px 1px 2px #444;
  margin-bottom: 0px;
  transition: 0.4s all ease;
  min-width: 100%;
  height: auto;
}
.archive .entry-title a {
  display: block;
  font-size: 26px;
  color: #000000;
  color: #00ac97;
  line-height: 1.4em;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}
.archive .entry-title a:hover {
  color: #00c6ad;
}
.archive .entry-meta {
  font-size: small;
  color: #00ac97;
}
.archive .entry-meta .posted-on {
  margin-right: 6px;
}
.blog .entry-title,
.search .entry-title,
body.archive .entry-title {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  /* box-shadow: 0px 22px 0px -17px #eBeBeB; */
  border-bottom: double 4px #d9d9d9;
  margin-bottom: 20px;
  padding-bottom: 19px;
  display: block;
}
.single .entry-h1,
.page .entry-h1 {
  border-bottom: double 4px #d9d9d9;
  margin-bottom: 20px;
  padding-bottom: 17px;
  display: block;
}
.single .entry-h1 .entry-title,
.page .entry-h1 .entry-title {
  color: #00ac97;
}
.single .entry-h1 h1,
.page .entry-h1 h1 {
  font-size: 30px;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}
.entry-content {
  line-height: 1.8em;
  color: #999999;
}
.comments-link {
  float: right;
}
.entry-meta {
  color: #00ac97;
}
.entry-meta .posted-on {
  margin-right: 10px;
}
.entry-meta .edit-link {
  float: right;
}
.entry-meta .fa-tags {
  margin-left: 10px;
}
footer.entry-meta {
  margin-top: 25px;
}
.single article.post,
.page article.post {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
#nav-below {
  margin-top: 30px;
  margin-bottom: 20px;
}
#nav-below a {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}
.featured-image-single {
  text-align: center;
  margin: 30px auto;
  margin-top: 20px;
}
.featured-image-single img {
  max-width: 98%;
  box-shadow: 0px 25px 6px -20px #888888;
  margin-bottom: 15px;
}
h1.page-title {
  text-transform: uppercase;
  color: #999999;
  font-family: "Noto Sans", Times, serif;
  font-weight: bold;
  display: inline-block;
  border-bottom: solid 4px #999999;
  margin-top: -15px;
}
.page-header {
  border-bottom: 0px;
}
@media screen and (max-width: 480px) {
  .featured-thumb .img-meta .meta-icon {
    margin-top: 30px;
  }
}
/* 7.2 Secondary 
------------------------------------------------------- */
#secondary {
  padding: 28px 10px;
}
#secondary ul {
  list-style: none;
  margin-left: 5px;
}
#secondary ul li:before {
  margin-right: 5px;
  content: "\f0da";
  font-family: "FontAwesome";
  color: #999999;
  display: inline;
  float: left;
}
#secondary ul li {
  margin-bottom: 8px;
}
#secondary ul ul {
  margin-left: 15px;
}
#secondary ul ul li:before {
  content: "\f111";
  font-size: 5px;
  position: relative;
  top: -3px;
}
#secondary ul ul ul {
  margin-left: 5px;
}
#secondary .widget_recent_entries li:before {
  content: "\f0f6";
  display: inline;
  float: left;
}
#secondary .widget_recent_entries li {
  border-bottom: solid 1px #ffffff;
  padding: 5px 0px;
}
#secondary .widget_recent_comments li:before {
  content: "\f075";
  font-size: 12px;
  position: relative;
  top: -2px;
}
#secondary .widget_calendar caption {
  font-weight: bold;
  margin-bottom: 7px;
}
#secondary .widget_calendar table {
  padding: 5px;
  text-align: center;
  background: #fff;
}
#secondary .widget_calendar thead {
  border-bottom: solid 1px #00c6ad;
}
#secondary .widget_calendar thead th {
  background: #ddd;
  padding: 5px;
  text-align: center;
}
#secondary .widget_calendar tr td {
  padding: 8px !important;
  background: #eee;
  margin: 4px;
  text-align: center;
}
#secondary .widget_calendar #prev {
  text-align: left;
}
#secondary .widget_calendar #next {
  text-align: right;
}
#secondary h1.widget-title {
  font-size: 25px;
  font-weight: normal;
  border-bottom: double 4px #d9d9d9;
  padding: 5px;
  margin-top: 0px;
  color: #00ac97;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-bottom: 20px;
}
#secondary .widget_search label {
  width: 100%;
}
#secondary .widget_search form {
  width: 100%;
  padding: 10px 5px;
}
#secondary .widget_search input[type=submit] {
  display: none;
}
#secondary .widget_search input[type=text] {
  display: block;
  min-width: 100%;
  margin-left: 20px;
}
#secondary select#cat {
  margin-bottom: 10px;
  margin-left: 10px;
}
#secondary .widget {
  background: #ffffff;
  margin-top: 15px;
  padding-top: 0px;
}
#secondary .widget a {
  color: #999999;
}
#secondary .widget > div {
  padding: 7px;
}
/* 8. Pagination
-----------------------------------------------*/
.pagination {
  margin: 20px 0;
  width: 100%;
  margin-left: -20px;
  text-align: center;
  clear: both;
}
.pagination ul {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 0;
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a {
  color: #eeeeee;
  transition: all 0.4s ease;
}
.pagination ul > li > a .next {
  float: right;
}
.pagination ul > li > a:hover {
  color: #00ac97;
  background: #eee;
}
.pagination .current {
  background: #00c6ad;
}
.pagination ul  > li  > a,
.pagination ul  > li  > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: solid 1px #f1f1f1;
  border-left-width: 0;
  display: inline-block;
  color: #228a7d;
}
.pagination ul  > li:first-child  > a,
.pagination ul  > li:first-child  > span {
  border-left-width: 1px;
}
.pagination ul  > li:last-child  > a,
.pagination ul  > li:last-child  > span {
  border-rigth-width: 1px;
}
/* 9. Footer 
------------------------------------------------------- */
#colophon {
  background: #ffffff;
  padding: 10px;
  border-top: solid 1px #ddd;
  border-bottom: solid 4px #ddd;
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
}
.sep {
  font-size: 8px;
  position: relative;
  top: -2px;
  padding: 0 5px;
  color: #999999;
}
/* 9. HTML Markup & Formatting
--------------------------------------------------- */
article table {
  background: #f7f7f7;
}
article table td {
  padding: 5px;
  border: solid 1px #eee;
}
article table th {
  padding: 5px;
  background: #ccc;
  border: solid 1px #ccc;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  color: #595959;
}
article blockquote {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}
article code {
  background: #119b8a;
  color: #000000;
}
/* 11. Widgets Style
---------------------------------------------------- */
.rp-item {
  display: block;
  clear: both;
  overflow: auto;
  margin-bottom: 8px;
  border-bottom: solid 1px #ffffff;
  padding-bottom: 5px;
}
.rp-item:before {
  content: none !important;
}
.rp-thumb {
  float: left;
  width: 64px;
  margin-right: -5px;
  margin-top: 3px;
}
.rp-thumb img {
  width: 48px;
  border: solid 2px #eee;
  border-radius: 2px;
}
.rp-thumb rp-title {
  clear: none;
}
.rp-thumb rp-title a {
  display: block;
}
.rp-date {
  color: #545454;
  font-size: x-small;
  display: block;
  margin-top: 3px;
  margin-bottom: 10px;
}
/* 12. Comments
---------------------------------------------------------- */
#respond input[type=text] {
  max-width: 450px;
}
#comments ol.comment-list {
  list-style: none;
}
#comments li.comment {
  border: solid 1px #eee;
  padding: 10px;
  margin-top: 15px;
  list-style: none;
  background: #f9f9f9;
}
#comments .vcard img {
  border: solid 4px #ffffff;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}
#comments .comment-metadata {
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  li.comment {
    margin-left: -5%;
  }
}
