@import "../fonts/font-awesome/css/font-awesome.min.css";

/* Table of Contents
------------------------------------------------------- *

	0. Bootstrap Fixes
	1. Less Variables & Mixins
	2. Top Bar
	3. Header
	4. Links
	5. Navigation Menu
	6. Slider
	7. Content
		7.1. Primary
		7.2. Secondary
	8. Pagination
	9. Footer
	10. HTML Markup and Formatting
	11. Widgets Style
	12. Comments	

/* 0. Bootstrap Fixes
-------------------------------------------------------	*/
body {
	background: #FFF;
}
#main {
	width: 100%;
}
.container {
	margin: auto;
}
code {
	white-space: pre-wrap !important;
}
.navbar-default .navbar-nav>li>a {
	color: none;
	&:hover {
		color: none;
	}
}

/* 1. Less Variables & Mixins
-------------------------------------------------------	*/

@default-background: #FFF;
@link-color: #00AC97;
@link-hover-color: lighten(@link-color, 5%);
@menu-bar-bg: @default-background;
@menu-hover: #EEE;
@top-bar-bg: #fff;
@sidebar-link-color: darken(#a3a3a3,4%);

.font {
	font-family: "Noto Sans", Times, serif;
}
.font-heading {
	font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}
.font-title {
	font-family: "Lato", Helvetica, sans-serif;
}

#parallax-bg {
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
#page {
	position: relative;
	z-index: 888;
}
#page ::selection {
	background: @link-color;
	color: white;
}
/* 2. Top Bar
------------------------------------------------------- */
#top-bar {
	background: @top-bar-bg;
	padding: 5px 0px;
	position: relative;
	z-index: 99999;
	opacity: 0.8;
	border-bottom: 1px solid #B2B2B2;
	box-shadow: 0 2px 5px #4a4a4a;
	&:hover {
		opacity: 1.0;
	}
}
#social-icons { 
	float: right;
	text-align: right;
}
.social-icon {
	color: darken(@link-color, 10%);
	font-size: 28px;
	margin-right: 2px;
	position: relative;
		top: 0px;
		left: 0px;
	transition: ease 0.4s all;		
	&:hover {
		color: @link-hover-color;
		text-shadow: 3px 3px 1px @link-color;
			top: -1px;
			left: -1px;
	}
}
a:hover .social-icon {
	text-decoration: none;
}
#top-search {
	position: relative;
	top: 7px;
	left: -15px;
	z-index: 999;
	
	input[type=text] {
		background: darken(@top-bar-bg,2%);
		outline: none;
		border: none;
		box-shadow: inset 0px -1px 1px darken(@top-bar-bg,10%);
		width: 280px;
		padding-left: 30px;
		padding-top: 6px;
		padding-bottom: 6px;
		.font-title;
		&:hover,&:focus {
			background: darken(@top-bar-bg,10%);
		}
	}
	::-webkit-input-placeholder {
			color: darken(@link-color,10%);
	}
	:-moz-placeholder { /* Firefox 18- */
	   color: darken(@link-color,10%); 
	}
	
	::-moz-placeholder {  /* Firefox 19+ */
	   color: darken(@link-color,10%); 
	}
	
	:-ms-input-placeholder {  
	   color: darken(@link-color,10%);
	}
	button {
		position: relative;
		padding: 2px 5px;
		background: none;
		border: none;
		-webkit-linear-gradient: none;
		top: -2px;
		box-shadow: none;
		right: -30px;
		color: darken(@link-color,15%);
	}
}



/* 3. Header
------------------------------------------------------- */
body {
	.font;
}
#masthead {
	margin: 60px auto;
	text-align: center;	
}
.site-title {
	.font-title;
	position: relative;
	top: -10px;
	a {
		color: @link-color;
		font-size: 60px;
		font-weight: 200;
		&:hover {
			text-decoration: none;
		}
	}
}
.site-description {
	.font-title;
	color: darken(#DADADA,15%);
	font-size: 16px;
	font-weight: 100;
	text-transform: uppercase;
	margin-top: -10px;
}
.main_logo {
	max-width: 390px;
}
@media screen and (max-width: 400px) {
	.main_logo {
		max-width: 320px;
	}
}
@media screen and (max-width: 992px) {
	.site-title,#top-search, #social-icons {
		text-align: center;
		float: none;
		padding: 15px 5px;
	}
	.site-title {
		margin-top: -5px;
	}
	#social-icons, #top-search {
		padding: 10px 5px;
	}
}

/* 4. Links
------------------------------------------------------- */

a {
	color: @link-color;
}
a:hover,
a:focus,
a:active {
	color: @link-hover-color;
}

/* 5. Carousel Wrapper
------------------------------------------------------- */

#carousel-wrapper {
	margin-bottom: 55px;
	box-shadow: 0px 50px 40px -35px #aaa;
	padding: 0px;
	.bx-wrapper {
		 .bx-next {
		 	background: none;
			 margin-right: 10px;
			 .c-nav-bg {
				 color: white;
				 font-size: 42px;
				 margin-top: 21px;
			 }
		 }
		 .bx-prev {
			 background: none;
			 margin-left: -50px;
			 .c-nav-bg {
				 color: white;
				 font-size: 42px;
				 margin-top: 21px;
			 }
		 }
		 .bx-viewport {
			 box-shadow: none;
			 height: 205px !important;
			 ul {
				 margin-left: 0px;
			}
		}
		.bx-controls-direction a {
			text-indent: 0px;
			font-size: 42px;
			top:37%;
		}
		.bx-caption {
			pointer-events: none;
			position: absolute;
			bottom: 3px;
			left: 3px;
			max-width: 98% ;
			margin-bottom: -80px;
			a {
			
				&:hover {
					text-decoration: underline;
				}
			}
			span {
				.font;
				text-transform: uppercase;
				background:rgba(0,0,0,0.2);
				color: white;
				font-weight: normal;
				&:hover {
					background-color: @link-hover-color !important;
				}
			}
		}
	}
}
/*
@media screen and (max-width: 500px) {
	.bx-controls-direction {
		display: none;
	}
}
*/
@media screen and (max-width: 767px) {
	#carousel-wrapper{
		width: 90%;
		margin-left: 6%;
	}
}
/* 5. Navigation Menu 
-------------------------------------------------------	*/

/* Default Navigation */
 .nav-wrapper {
/* 	   margin-bottom: -25px; */
   }
#site-navigation {
	clear: both;
	display: block;
	float: right;
	display: inline-block;
	background: @menu-bar-bg;
	margin-top: -5px;
	padding-bottom: 0px;
	border: none;
	text-align: right;
	float: right;
	.font;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: -5px;
	
   	.active > a, .current_page_item > a {
		border-top: solid 4px @link-color;
		background: none;
	}
	ul {
		float: right;
		list-style: none;
		margin: 0;
		padding-left: 0;
		padding-bottom: 0px;
		li:hover > ul { /* Dropdown*/
				display: block;
			}
		ul {
			display: none;
			float: left;
			position: absolute;
				top: 4em;
				left: 0;
			z-index: 99999;
			background: @menu-hover;
			text-align: left;
			border: none;
			padding-top: 0px;
			box-shadow: 0px 5px 4px -4px #4a4a4a;
			ul {
				border: solid 1px darken(@menu-hover,10%);
				left: 100%;
				top: 0;
			}
			a {
				min-width: 200px;
				max-width: 255px;
				font-size: 14px;
				font-weight: normal;
				color: #555;
				padding: 8px 20px;
				transition: all 0.2s ease;
				&:hover {
					border-top: none;
					background: #333;
					color: #eee;
					padding: 8px 20px;
				}
			}
		}
	}
	li {
		float: right;
		position: relative;
		clear: left;
	}
	.nav .caret {
		display: none;
	}
	a {
		display: block;
		text-decoration: none;
		color: @link-color;
		text-decoration: none;
		padding: 16px 10px;
		font-weight: normal;
		border-top: solid 4px @default-background;
		&:hover {
			border-top: @link-color solid 4px;
			background: none;
		}
	}
	ul ul a {
		font-size: 12px;
		border-top: none;
		&:hover {
			border-top: none;
			background: none;
		}
	}
	li:hover > a {
			border-top: @link-color solid 4px;
			padding-top: 16px;
			color: black;
		}
	ul ul li:hover > a {
		background: @menu-bar-bg;
		border-top: none;
		padding: 8px 20px;
		color: black;
	}	
	
}
@media screen and (max-width: 1199px) and (min-width: 767px) {
	#top-search {
	margin: auto;
	margin-bottom: 15px;
	}
	#site-navigation {
		width: auto;
		float: right;
		margin-bottom: 20px;
		text-align: center;
		li {
			float: right;
			clear: left;
			&:hover > a {
				border-top: none;
				padding-top: 20px;
			}
		}
		.active > a, .current_page_item > a {
		border-top: solid 4px @default-background;
		background: none;
		}
	}	
}
@media screen and (max-width: 767px) {
	#site-navigation {
		width: 100%;
		.active > a, .current_page_item > a {
		border-top: solid 4px @default-background;
		background: none;
		}
		ul {
			margin-left: 0px;
		}
		ul ul {
			display: none;
		}
		li {
			display: block;
			width: 100%;
			text-align: left;
			&:hover > a {
				border-top: none;
				padding-top: 20px;
			}
		}
		
		li:hover {
			ul {
				display: none !important;
			}
		}
		.navbar-default .navbar-collapse {
			border-color: @link-color;
		}
	}
}
#primary-nav-wrapper {
	text-align: center;
	margin-bottom: 20px;
	padding-top: 10px;
}
#primary-navigation {
	clear: both;
	display: block;
	display: inline-block;
	background: @menu-bar-bg;
	margin-top: -5px;
	padding-bottom: 0px;
	border: none;
	text-align: center;
	text-transform: uppercase;
	.font;
	font-weight: 300;
	background: #fff;
	border-top: solid 1px lighten(@sidebar-link-color,30%);
	border-bottom: solid 1px lighten(@sidebar-link-color,33%);
	box-shadow: #eee 0px 7px 7px -4px inset;
	/* box-shadow: #eee 0px 0px 16px -2px inset; */
   	.active > a, .current_page_item > a {
		background: none;
	}
	ul {
		float: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		padding-bottom: 0px;
		li:hover > ul { /* Dropdown*/
				display: block;
			}
		ul {
			display: none;
			float: left;
			position: absolute;
				top: 2.8em;
				left: 0;
			z-index: 99999;
			background: @menu-hover;
			text-align: left;
			border: none;
			padding-top: 0px;
			box-shadow: 0px 5px 4px -4px #4a4a4a;
			ul {
				left: 100%;
				top: 0;
			}
			a {
				min-width: 200px;
				max-width: 255px;
				font-size: 18px;
				color: #555;
				padding: 8px 20px;
				transition: all 0.2s ease;
				&:hover {
					border-top: none;
					background: #333;
					color: #eee;
					padding: 8px 20px;
				}
			}
		}
	}
	li {
		float: left;
		position: relative;
		clear: right;
		/* box-shadow: 9px 0px 12px -12px #222; */
		/* border-right: solid 1px #eee; */
		margin-bottom: 5px;
		li {
			box-shadow: none;
			border-right: none;
		}
	}
	li:last-child {
		box-shadow: none;
		border-right: none;
	}
	.nav .caret {
		display: none;
	}
	a {
		display: block;
		text-decoration: none;
		color: lighten(@link-color,5%);
		text-decoration: none;
		padding: 10px 20px;
		font-size: 15px;
		transition: all 0.4s ease;
		margin-bottom: -5px;
		&:hover {
			background: none;
		}
	}
	ul ul a {
		font-size: 12px;
		&:hover {
			background: none;
		}
	}
	li:hover > a {
			color: @link-color;
			background: #eee;
		}
	ul ul li:hover > a {
		background: @menu-bar-bg;
		color: black;
	}	
	
}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
	text-align: center;
}

@media screen and (max-width: 767px) {
	.menu-toggle,
	.primary-navigation.toggled .nav-menu {
		display: block;
		padding: 10px;
		color: @link-color;
		font-weight: bold;
		text-transform: uppercase;
		padding: 10px;
		font-size: 20px;
		padding-bottom: 10px;
		position: relative;
			top: -8px;
		width: 100%;	
		float: left;
	}
	#primary-navigation { width: 100% }
	h1.menu-toggle {
		width: 100%;
	}
	.menu-toggle:before {
		content: "\f0ca";
		font-family: "FontAwesome";
		height: 0;
		width: 0px;
		margin-right: 20px;
		position: relative;
	}
	#nav-wrapper {
		width: 90%;
		margin-bottom: 15px;
		box-shadow: none;
	}

	.primary-navigation ul {
		display: none	
	}
	.primary-navigation ul{
		a {
			padding: 5px;
		}
		li {
		display: block;
		width: 100%;
		overflow: auto;
		height: auto;
		}
	}
	#primary-navigation {
		ul {
			text-align: center;
			font-size: 15px;
			a {
				padding: 5px;
			}
			ul {
				display: none;
				li {
					display: none;
				}
			}
			
			li {
				box-shadow: none;
				border-right: none;
			}
		}
	}
}
@media screen and (max-width:1100px) {
/*
	#site-navigation {
		float: none;
		width: 100%;
		margin: auto;
	}
*/
}


/* 6. Slider
-------------------------------------------------*/

.slider-wrapper {
	margin: auto;
	margin-top: 35px;
	background: fade(white,80%);
	padding-top: 15px;
	margin-bottom: 40px;
}
.slide-title {
	.font-heading;
	color: #ddd;
}
.nivo-caption {
  max-width: 750px;
  min-width: 200px;
  overflow: hidden;
  bottom: 15px;
  left: 10px;
}
.nivo-html-caption {
	display: none;
}
div.slide-title {
	font-size: 36px;
	display: block; 
}
div.slide-description {
	 font-family: Helvetica, Arial, sans-serif;
}
.nivo-imageLink {
	z-index: 99999;
}
@media screen and (max-width: 768px) {
	div.slide-title {
		font-size: 18px;
	}
	div.slide-description {
		font-size: 13px;
	}
}


/* 7. Content 
------------------------------------------------------- */

#content {
	background: white;
	border-top: solid 4px @top-bar-bg;
	padding: none;
	padding-top: 15px;
	margin-right: 0px;
	margin-left: 0px;
}

/* 7.1 Primary 
------------------------------------------------------- */

#content .container {
	background: white;
}

#primary {
	padding: 20px 15px;
	.fa-clock-o:before ,.fa-user:before {
			color: @link-color !important;
		}
	.byline {
		display: inline;
	}		
}
article.archive {
	
.article-rest {
		 margin: auto;	
		 }
}

.featured-thumb {
	margin: auto;
	margin-top: 35px;
	overflow: hidden;
	width: 95%;
	padding: 0px; 
	.img-meta {
		position: absolute;
		z-index: 9999;
		background: fade(@link-hover-color,50%);
		width: 100%;
		height: 100%;
		left: 0px;
		display: none;
		text-align: center;
		.meta-icon {
			display: inline-block;
			font-size: 24px;
			width: 36px;
			background: darken(@link-hover-color, 25%);
			border-radius: 4px;
			margin-top: 150px;
		}
		.meta-link {
			padding: 15px 25px;
			color: lighten(@link-color, 1%);
			padding-left: 26px;
			&:hover {
				color: lighten(@link-hover-color, 7%);
				text-decoration: none;
			}
			i {
				position: relative;
					left: -19px;	
			}
			.icon-link {
				left: -17px;
			}
		}
		.img-meta-img .meta-link {
			padding-left: 24px;
		}
	}
	&:hover {
		.img-meta {
			background: fade(@link-hover-color,65%);
		}
		img {
			-webkit-transform: scale(1.05);
			opacity: 0.98;
		}
	}
	img {
		box-shadow: 0px 1px 2px #444;
		margin-bottom: 0px;
		transition: 0.4s all ease;
		min-width: 100%;
		height: auto; 
	}
}
.archive {
	.entry-title a {
		display: block;
		font-size: 26px;
		color: darken(@link-color,80%);
		color: @link-color;
		line-height: 1.4em;
		.font-heading;
		&:hover {
			color: @link-hover-color;
		}
	}
	.entry-meta {
		font-size: small;
		color: @link-color;
		.posted-on {
			margin-right: 6px;
		}
	}
}
.blog, .search, body.archive {
	 .entry-title {
		.font-heading;
		/* box-shadow: 0px 22px 0px -17px #eBeBeB; */
		border-bottom: double 4px lighten(@sidebar-link-color,25%);
		margin-bottom: 20px;
		padding-bottom: 19px;
		display: block;
	
	}
}
.single, .page {
	 .entry-h1 {
		border-bottom: double 4px lighten(@sidebar-link-color,25%);
		margin-bottom: 20px;
		padding-bottom: 17px;
		display: block;
		.entry-title {
			color: @link-color;
		}
		
		h1 {font-size: 30px; .font-heading;}
	
	}
}
.entry-content {
	line-height: 1.8em;
	color: @sidebar-link-color;
}
.comments-link {
	float: right;
}
.entry-meta {
	color: @link-color;
	.posted-on {
		margin-right: 10px;
	}
	.edit-link {
		float: right;
	}
	.fa-tags {
		margin-left: 10px;
	}	
}
footer.entry-meta {
	margin-top: 25px;
}
.single, .page {
	article.post {
		padding-bottom: 20px;
		border-bottom: 1px solid lighten(@sidebar-link-color,30%);
		}
	}
#nav-below {
	margin-top: 30px;
	margin-bottom: 20px;
	a {
		.font-heading;
	}
}

.featured-image-single {
	text-align: center;
	margin: 30px auto;
	margin-top: 20px;
	img {
		max-width: 98%;
		box-shadow: 0px 25px 6px -20px #888;
		margin-bottom: 15px;
		
	}
}
h1.page-title {
	text-transform: uppercase;
	color: @sidebar-link-color;
	.font;
	font-weight: bold;
	display: inline-block;
	border-bottom: solid 4px @sidebar-link-color;
	margin-top: -15px;
}
.page-header {
	border-bottom: 0px;
}

@media screen and (max-width:480px) {
	.featured-thumb {
		.img-meta {
			.meta-icon {
				margin-top: 30px;
			}
		}
	}
}
/* 7.2 Secondary 
------------------------------------------------------- */

#secondary {
	padding: 28px 10px;
	ul {
		list-style: none;
		margin-left: 5px;
		li:before {
			margin-right: 5px;
			content:"\f0da";
			font-family: "FontAwesome";
			color: @sidebar-link-color;
			display: inline;
			float: left;
		}
		li {
			margin-bottom: 8px;
		}
		ul {
			li:before {
				content: "\f111";
				font-size: 5px;
				position: relative;
				top: -3px;
			}
			margin-left: 15px;
			ul {
				margin-left: 5px;
				
			}
		}
	}
	.widget_recent_entries {
		li:before {
			content: "\f0f6";
			display: inline;
			float: left;
		}
		li {
			border-bottom: solid 1px @default-background;
			padding: 5px 0px;
		}
	}
	.widget_recent_comments {
		li:before {
			content: "\f075";
			font-size: 12px;
			position: relative;
			top: -2px;
		}
	}
	.widget_calendar {
		caption {
			font-weight: bold;
			margin-bottom: 7px;
		}
		table {
			padding: 5px;  
			text-align:center;
			background: #fff;
		}
		thead {
			border-bottom: solid 1px @link-hover-color;
			th {
				background: #ddd;
				padding: 5px;
				text-align: center;
			}
		}
		tr td {
			padding: 8px !important;
			background: #eee;
			margin: 4px;
			text-align: center;
		}
		#prev {
			text-align: left;
		}
		#next {
			text-align: right;
		}
	}
	h1.widget-title {
		font-size: 25px;
		font-weight: normal;
		border-bottom: double 4px lighten(@sidebar-link-color,25%);
		padding: 5px;
		margin-top: 0px;
		color: @link-color;
		.font-heading;
		font-size: 24px;
		padding-bottom: 20px;
	}
	.widget_search {
		label {
			width: 100%;
		}
		form {
			width: 100%;
			padding: 10px 5px;
		}
		input[type=submit] {
			display: none;
		}
		input[type=text] {
			display: block;
			min-width: 100%;
			margin-left: 20px;
		}
	}
	select#cat {
		margin-bottom: 10px;
		margin-left: 10px;
	}
	.widget {
		background: @default-background;
		margin-top: 15px;
		padding-top: 0px;
		a {
			color: @sidebar-link-color;
		}
	}
	.widget > div {
		padding: 7px;
	}
}

/* 8. Pagination
-----------------------------------------------*/
.pagination {
    margin: 20px 0;
    width: 100%;
    margin-left: -20px;
    text-align: center;
    clear: both;
    ul {
        list-style: none;
        display: inline-block;
        text-align: center;
        margin-bottom: 0;
        & > li {
            display: inline;
            & > a {
                color: @menu-hover;
                transition: all 0.4s ease;
                .next {
	                float: right;
                }
            }
            & > a:hover {
                color: @link-color;
                background: #eee;
            }
        }
    }
    .current {
        background: saturate(@link-hover-color, 5%);
    }
}
.pagination ul &>li &>a, .pagination ul &>li &>span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: lighten(@default-background, 10%);
    border: solid 1px #f1f1f1;
    border-left-width: 0;
    display: inline-block;
    color: desaturate(@link-color, 40%);
}
.pagination ul &>li:first-child &>a, .pagination ul &>li:first-child &>span {
    border-left-width: 1px;
}

.pagination ul &>li:last-child &>a, .pagination ul &>li:last-child &>span {
    border-rigth-width: 1px;
}


/* 9. Footer 
------------------------------------------------------- */

#colophon {
	background: @menu-bar-bg;
	padding: 10px;
	border-top: solid 1px #ddd;
	border-bottom: solid 4px #ddd;
	width: auto;
	margin-left: 0px;
	margin-right: 0px;
}
.sep {
	font-size: 8px;
position: relative;
top: -2px;
padding: 0 5px;
	color: @sidebar-link-color;	
}

/* 9. HTML Markup & Formatting
--------------------------------------------------- */
article {
	table {
		background: #f7f7f7;
		td {
			padding: 5px;
			border: solid 1px #eee;
		}
		th {
			padding: 5px;
			background: #ccc;
			border: solid 1px #ccc;
		}
		thead {
			
		}
	}
	h1,h2,h3,h4,h5,h6 {
		color: darken(@sidebar-link-color,25%);
	}
	blockquote {
		.font-heading;
	}
	code {
		background: desaturate(@link-color, 20%);
		color: darken(@link-color,50%);
	}
}

/* 11. Widgets Style
---------------------------------------------------- */

.rp-item {
	display: block;
	clear: both;
	overflow: auto;
	margin-bottom: 8px;
	border-bottom: solid 1px @default-background;
	padding-bottom: 5px;
}
.rp-item:before {
	content: none !important;
}
.rp-thumb {
	float: left;
	width: 64px;
	margin-right: -5px;
	margin-top: 3px;
	img {
	width: 48px;
	border: solid 2px #eee;
	border-radius: 2px;
	}
	rp-title {	
	clear: none;
		a {
		display: block;
		}
	}
}
.rp-date {
	color: darken(#878787,20%);
	font-size: x-small;
	display: block;
	margin-top: 3px;
	margin-bottom: 10px;  
}

/* 12. Comments
---------------------------------------------------------- */
 
 #respond {
	 input[type=text] {
		 max-width: 450px;
	 }
 }
 
 #comments {
	 ol.comment-list {
		 list-style: none;	 
	 }
	 li.comment {
		 border: solid 1px #eee;
		 padding: 10px;
		 margin-top: 15px;
		 list-style: none;
		 background: #f9f9f9;
	 }
	 .vcard img {
		 border: solid 4px @menu-bar-bg;
		 border-radius: 5px;
		 margin: 0 10px 10px 0;
	 }
	 .comment-metadata {
		 font-weight: bold;
	 }
 }
 @media screen and (max-width:480px) {
	 li.comment {
		 margin-left: -5%;
	 }
 }