/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Layout
# Header
# Navigation
    ## Menus
    ## Content Navigation
# Content
    ## Posts and pages
    ## Asides
    ## Comments
# Sidebar
# Footer
# Accessibility
# Alignments
# Clearings
# Infinite scroll
# Media
    ## Captions
    ## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
- normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css
--------------------------------------------------------------*/

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
	margin: 0;
	background: #fff;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */
a {
	background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
	margin: 0;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-size: 100%;
    line-height: 1.6;
    word-wrap: break-word;
    color: #404040;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
    clear: both;
    margin-top: 0;
    color: #373737;
}

p {
	margin: 0 0 24px;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    font-style: italic;
    margin: 0 0 24px;
    padding: 0 0 0 24px;
    border-left: 2px solid #286185;
}

address {
    margin: 0 0 24px;
}

pre {
    font-family: 'Courier 10 Pitch', Courier, monospace;
    font-size: 15px;
    line-height: 1.6;
    overflow: auto;
    max-width: 100%;
    margin-bottom: 1.6em;
    padding: 1.6em;
    background: #eeeeee;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
    padding: 8px;
}

abbr,
acronym {
    cursor: help;
    border-bottom: 1px dotted #666666;
}

mark,
ins {
    text-decoration: none;
    background: #fff9c0;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
## Hyperlinks
--------------------------------------------------------------*/

a {
    color: #176997;
}

a:hover,
a:focus,
a:active {
    color: #176997;
}

a:focus {
    outline: thin dotted;
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

blockquote,
q {
    quotes: '' '';
}

hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #dbdbdc;
}

ul,
ol {
    margin: 0 0 24px 24px;
    padding: 0;
    list-style: disc;
}

ul li {
    margin-bottom: 16px;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 24px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 24px 24px;
    margin: 0 24px 24px;
}

img {
    max-width: 100%; /* Adhere to container width. */
    height: auto; /* Make sure images are scaled correctly. */
    vertical-align: bottom; /* Removes affect of line-height. */
}



.submit,
.wpcf7-submit {
    font-size: 14px;
    font-size: .875rem;
    padding: 8px 16px;
    background: none;
}

.admin-bar .cats-tags-links {
    max-width: 80%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

input,
textarea {
    max-width: 100%;
    padding: 8px 16px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background: white;
}

input[type='submit']:hover {
    background: #f1f1f1;
}

select {
    max-width: 100%;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

.wrap {
    max-width: 1040px;
    margin: 0 auto;
}

.content {
    width: 700px;
    margin-right: 50px;
    float: left;
}

.primary-sidebar {
    width: 290px;
    float: right;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
    padding: 50px 0;
    padding: 3.125rem 0;
}

.site-title {
    font-size: 24px;
    font-size: 24px;
    margin: 0;
}

.site-title a {
    text-decoration: none;
    color: #404040;
}

.site-description {
    font-size: 14px;
    margin: 0;
    color: #5a5a5a;
}

.has-logo .site-title {
    display: none;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.menu-primary .menu {
    font-size: 14px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.menu-primary ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-primary ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-primary ul li {
    position: relative;
}

.menu-primary ul ul {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    display: none;
    min-width: 12em; /* allow long menu items to determine submenu width */
    box-shadow: 2px 2px 6px rgba(0,0,0,.2);
}

.menu-primary ul > li {
    -webkit-transition: background .2s;
            transition: background .2s;
    white-space: nowrap; /* no need for Supersubs plugin */
}

.menu-primary ul li:hover > ul,
.menu-primary ul li.sfHover > ul {
    display: block;
}

.menu-primary ul a {
    position: relative;
    display: block;
}

.menu-primary ul ul ul {
    top: 0;
    left: 100%;
}

.menu-primary .menu li {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.menu-primary .menu li a {
    display: block;
    padding: 16px;
    transition: all linear .15s;
    text-decoration: none;
    color: #717171;
}

.menu-primary ul li:first-child {
    margin-left: -16px;
}

.menu-primary ul li ul li:first-child {
    margin-left: 0;
}

.menu-primary .menu li:hover > a,
.menu-primary .menu .current-item > a {
    text-decoration: none;
}

/*----- Top Level -----*/

.menu-primary .menu > li {
    position: relative;
    display: inline-block;
}

.menu-primary .menu > li:hover > a,
.menu-primary .menu > .current-item > a {
    color: #a5a5a5;
}

/*----- Bottom Level -----*/

.menu-primary .sub-menu,
.menu-primary .children {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #404040;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

.menu-primary .children ul {
    border-top: 0;
    background: #6b6b6b;
}

.menu-primary .sub-menu li,
.menu-primary .children li {
    display: block;
}

.menu-primary .sub-menu li a,
.menu-primary .children li a {
    display: block;
    color: white;
    border-top: 1px solid #585858;
}

.menu-primary .sub-menu li a:hover,
.menu-primary .sub-menu .current-item a,
.menu-primary .children li a:hover,
.menu-primary .children .current-item a {
    background: black;
}

.menu-primary-inner ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
}

/*----- Responsive Navigation -----*/

.tinynav {
    display: none;
}

/*--------------------------------------------------------------
## Content Navigation
--------------------------------------------------------------*/

.nav-links {
    font-size: 14px;
    font-weight: bold;
}

.nav-links .meta-nav {
    color: #717171;
}

.nav-links a {
    font-weight: normal;
    display: block;
    padding-top: 4px;
    text-decoration: none;
}

.posts-navigation .nav-previous {
    float: left;
}


.posts-navigation .nav-next {
    float: right;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.site-content {
    margin-top: 50px;
}

article.post,
article.page {
    margin-bottom: 50px;
}

.page-template-full-width .content {
    width: 100%;
    margin: 0;
}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-links {
    clear: both;
    margin: 0 0 24px;
    margin: 0 0 24px;
}

.entry-header {
    margin: 0 0 24px;
    margin: 0 0 24px;
}

.entry-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 8px;
}

.entry-title a {
    text-decoration: none;
    color: #373737;
}

.archive .archive-header,
.search .archive-header {
    margin-bottom: 50px;
    border-bottom: 1px solid #dbdbdb;
}

.archive .archive-header .archive-title,
.search .archive-header .archive-title {
    font-size: 16px;
    font-size: 1rem;
}

.archive .page-header p {
    margin-bottom: 0;
}

.taxonomy-description {
    font-size: 14px;
    color: #5a5a5a;
}

.entry-thumbnail {
    margin-bottom: 32px;
    text-align: center;
    border-bottom: 0;
}

.entry-content hr {
    clear: both;
    margin: 32px 0;
    border-top: 1px solid #dbdbdb;
}

.entry-content li {
    margin-bottom: 16px;
}

.entry-meta,
.entry-meta a {
    font-size: 14px;
    text-decoration: none;
    color: #9a9a9a;;
}

.entry-meta a:hover {
    text-decoration: underline;
}

.entry-footer {
    font-size: 13px;
}

.entry-footer a {
    text-decoration: none;
    color: #286185;
}

.edit-link {
    float: right;
}

.entry-footer {
    font-size: 14px;
    padding-top: 24px;
    color: #717171;
    border-top: 1px solid #dbdbdb;
}

.cat-links,
.tag-links {
    display: block;
}

.cat-links a,
.tag-links a {
    text-decoration: none;
}

.cat-links {
    margin-bottom: 4px;
}

.moretag {
    text-decoration: none;
}

.post-navigation {
    margin-bottom: 50px;
}

.content .search-form .search-field {
	width: 75%
}

.content .search-form .search-submit {
	padding: 12px;
	margin-left: 16px;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comments-area {
    margin-top: 50px;
}

.comment-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.comment-notes {
    font-size: 14px;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    width: 50%;
}

.comment article {
    margin-bottom: 48px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dbdbdb;
}


ol.comment-list li.comment ul.children {
    margin: 0 0 0 24px;
    list-style: none;
}

.comment-form-url {
    margin-right: 0;
}

.comment-author {
    font-style: normal;
    font-weight: 700;
    vertical-align: middle;
}

.comment-author-avatar {
    float: left;
    margin-right: 16px;
}

.comment-published {
    color: #9a9a9a;
}

.avatar {
    width: 32px;
    border-radius: 500px;
}

.comment-text {
    float: right;
    width: 85%;
    margin-top: 8px;
}

.comment-meta {
    margin-bottom: 24px;
}

.comment-meta a {
    text-decoration: none;
}

.comment-author-name {
    font-weight: bold;
    font-style: normal;
}

.comment-time {
    font-size: 13px;
}

.comment-time a {
    color: #5a5a5a;
}

.comments-title {
    margin: 0 0 48px;
}

.comment-reply-link {
    font-size: 14px;
    text-decoration: none;
    color: #5a5a5a;
}

.comment-reply-link:after {
    padding-left: 4px;
    content: '\2193';
}

.bypostauthor span {
    font-size: 11px;
    font-weight: normal;
    line-height: 1.428571429;
    float: right;
    padding: 6px 10px;
    color: white;
    border: 0;
    border-radius: 3px;
    background: #176997;
    box-shadow: 0 1px 2px rgba(64, 64, 64, .1);
}

.reply-title {
    margin-top: 0;
}

.comment-respond {
    margin-bottom: 50px;
}

.comment-respond label {
    font-size: 13px;
    display: block;
    padding-bottom: 4px;
    color: #717171;
}

.form-submit {
    margin-bottom: 0;
}

.page .comments-area {
    margin-top: 32px;
    padding-top: 50px;
    border-top: 1px solid #dbdbdb;
}

.nav-links-comments {
    margin-bottom: 50px;
}

.nav-links-comments .nav-previous {
    float: left;
}

.nav-links-comments .nav-next {
    float: right;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.sidebar {
    font-size: 14px;
    color: #717171;
}

.widget {
    margin-bottom: 48px;
}

.widget-title {
    font-size: 16px;
    margin-bottom: 24px;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget ul li {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dbdbdb;
}

.widget_nav_menu .sub-menu {
    margin-left: 8px;
}


.widget_nav_menu ul li {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.widget_nav_menu ul li a {
    display: block;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dbdbdb;
}


.widget_search {
    padding: 0;
}

.search-form {
    position: relative;
}

.search-form .search-field {
    box-sizing: border-box;
    width: 100% ;
    padding: 12px;
}

.widget ul li a {
    text-decoration: none;
    color: #5a5a5a;
}

.widget ul li a:hover {
    color: #111111;
}

.widget .post-date {
    display: block;
    color: #cccccc;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget table td,
.widget table th {
    padding: 0;
    text-align: center;
}

.widget .children {
    margin-top: 16px;
    padding-top: 16px;
    padding-left: 16px;
    border-top: 1px solid #dbdbdb;
}

.widget .children li:last-child {
    margin: 0 ;
    padding: 0;
    border: 0;
}

.widget_search .search-submit, .widget_search .search-submit:hover {
    position: absolute;
    z-index: 100;
    top: 16px;
    right: 12px;
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    border: 0;
    background: url(../images/search-icon.png) no-repeat;
}

.widget_rss .rsswidget {
    font-weight: bold;
    display: block;
}

.widget_rss .rss-date {
    display: block;
    padding: .4px 0;
    color: #dbdbdb;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
    font-size: 14px;
}

.footer-widgets {
    padding: 50px 0;
    padding: 2rem 0 1rem;
    border-top: 1px solid #dbdbdb;
}

.site-footer .widget {
    margin-bottom: 0;
}

.sub-footer {
    font-size: 13px;
    color: #717171;
}

.sub-footer-inner {
    border-top: 1px solid #dbdbdb;
    padding: 16px 0;
}

.footer-attribution {
    float: left;
}

.footer-copyright {
    float: right;
    text-align: right;
}

.footer-copyright a {
    text-decoration: none;
}


.site-footer .widget ul li {
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #dbdbdb;
}

.site-info a {
    color: #717171;
}

.footer-1,
.footer-2,
.footer-3,
.footer-4 {
    float: left;
    width: 22%;
    margin-right: 4%;
}

.footer-4 {
    margin-right: 0;
}

/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/

table {
    width: 100%;
    margin: 0 0 24px;
    table-layout: fixed;
    empty-cells: show;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #cccccc;
    border-radius: 2px;
}

table td,
table th {
    font-size: inherit;
    overflow: visible;
    margin: 0;
    /*to make ths where the title is really long work*/
    padding: .8px 16px;
    /* cell padding */

    text-align: left;
    /*  inner column border */

    border-width: 0 0 0 1px;
    border-left: 1px solid #cccccc;
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
table td:first-child,
table th:first-child {
    white-space: nowrap;
    border-left-width: 0;
}

table thead {
    text-align: left;
    vertical-align: bottom;
    color: #404040;
}

table a {
    text-decoration: none;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
table td {
    background-color: transparent;
}


/* nth-child selector for modern browsers */
table tr:nth-child(2n-1) td,
table tr:nth-child(2n-1) th {
    background-color: #f2f2f2;
}
/* BORDERED TABLES */

table td,
table th {
    border-bottom: 1px solid #cbcbcb;
}

table tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}

.screen-reader-text:focus {
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    z-index: 100000; /* Above WP toolbar. */
    top: 5px;
    left: 5px;
    display: block;
    clip: auto !important;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    text-decoration: none;
    color: #21759b;
    border-radius: 3px;
    background-color: #f1f1f1;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
    float: left;
    margin-right: 24px;
}

.alignright {
    float: right;
    margin-left: 24px;
}

.aligncenter {
    display: block;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.menu-primary:after,
.site-content:after,
.site-footer:after,
.footer-widgets:after,
.sub-footer-inner:after {
    content: ' ';
    display: block;
    clear: both;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
/* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: none;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    max-width: 100%;
    margin-bottom: 24px;
}

.wp-caption img[class*='wp-image-'] {
    display: block;
    margin: 0 auto;
}

.wp-caption-text {
    text-align: center;
}

.wp-caption .wp-caption-text {
    margin: 13px 0;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 24px;
}

.gallery-item {
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/

ul.page-numbers {
    margin-left: 0;
    margin-bottom: 50px;
}

.page-numbers {
    text-align: center;
}
.page-numbers li {
    margin: 0 .2em;
    display: inline-block;
}
.page-numbers li.button {
    /* make sure prev next buttons are visible */
    display: inline-block;
}
.page-numbers a,
.page-numbers span {
    display: inline-block;
    /* use padding and font-size to change buttons size */

    padding: 8px 16px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.page-numbers a {
    border: 1px solid #dbdbdb;
    border-radius: .25em;
    color: #717171;
}

.page-numbers a:hover {
    color: #404040;
}

.no-touch .page-numbers a:hover {
    background-color: #f2f2f2;
}
.page-numbers a.disabled {
    pointer-events: none;
    /* button disabled */

    color: rgba(46, 64, 87, .4);
}
.page-numbers a.disabled::before,
.page-numbers a.disabled::after {
    opacity: .4;
}
.page-numbers .button:first-of-type a::before {
    content: '\00ab  ';
}
.page-numbers .button:last-of-type a::after {
    content: ' \00bb';
}
.page-numbers .current {
    pointer-events: none;
    border: 1px solid #dbdbdb;
    color: #404040;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

@media only screen and (max-width: 1040px) {
    body {
        padding: 0 5%;
    }
    .content,
    .sidebar {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 880px) {
    .tinynav {
        display: block;
    }

    .menu-primary .menu {
        border: 0;
    }

    .menu-primary ul.menu,
    .menu-primary .menu ul {
        display: none;
    }

    .footer-1,
    .footer-2,
    .footer-3,
    .footer-4 {
        width: 48%;
    }

    .footer-2 {
        margin-right: 0;
    }
}

@media only screen and (max-width: 580px) {
    .footer-1,
    .footer-2,
    .footer-3,
    .footer-4 {
        width: 100%;
        margin: 0;
    }
}
