/*==================== Top Bar color ====================*/
.proficiency-head-detail {
	background: #f44336;
}
.proficiency-head-detail .info-left li a , .proficiency-head-detail li a i, .proficiency-head-detail .info-right li a {
	color: #fff;
}
.proficiency-head-detail li a i {
	color: #fff;
}
.proficiency-head-detail .info-right li a i {
	color: #fff;
}
.proficiency-head-detail .info-right ul a {
	color: #222;
}
.proficiency-head-detail .info-right .dropdown-menu > .active > a {
	background: #fff;
	color: #222;
}
.proficiency-head-detail ul .dropdown-menu > .active > a:hover, .proficiency-head-detail ul .dropdown-menu > .active > a:focus {
	background: #f5f5f5;
	color: #222;
}
/*==================== Theme Menu ====================*/
/*=== navbar Header colors ===*/
.navbar-wp {
	background: #fff;
}
.navbar-header .navbar-brand {
	color: #fff;
}
/*=== navbar hover colors ===*/
.navbar-wp .navbar-nav > li > a {
	color: #212121;
}
.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus, .navbar-wp .navbar-nav > .active > a, .navbar-wp .navbar-nav > .active > a:hover, .navbar-wp .navbar-nav > .active > a:focus {
	color: #f44336;
	background-color: #fff;
}
.navbar-wp .navbar-nav > .open > a, .navbar-wp .navbar-nav > .open > a:hover, .navbar-wp .navbar-nav > .open > a:focus {
	color: #f44336;
	border-color: #f44336;
	background-color: #fff;
}
.navbar-wp .navbar-nav > li > a::after, .navbar-wp .navbar-nav > li.active > a::after {
    background-color: #f44336;
}
/*=== navbar dropdown colors ===*/ 
.navbar-wp .dropdown-menu {
	background: #fff;
}
.navbar-wp .dropdown-menu > li > a {
	color: #212121;
}
.navbar-wp .dropdown-menu > .active > a, .navbar-wp .dropdown-menu > .active > a:hover, .navbar-wp .dropdown-menu > .active > a:focus {
	background: #f5f5f5;
	color: #212121;
}
.navbar-wp .dropdown-menu > li > a:hover {
	background: #f5f5f5;
}
.navbar-wp .navbar-nav > .disabled > a, .navbar-wp .navbar-nav > .disabled > a:hover, .navbar-wp .navbar-nav > .disabled > a:focus {
	color: #ccc;
}
.ta-search-box .ta-search .btn {
	background: #f44336;
	border-color: #f44336;
	color: #fff;
}
/*=== navbar drop down hover color ===*/
.navbar-base .navbar-nav > .open > a, .navbar-base .navbar-nav > .open > a:hover, .navbar-base .navbar-nav > .open > a:focus {
	color: #fff;
}
.navbar-base .navbar-nav > li > a.dropdown-form-toggle {
	color: #fff;
}
/*=== navbar toggle color ===*/ 
.navbar-default .navbar-toggle {
	color: #fff;
}
.navbar-wp .navbar-nav > li > a.dropdown-form-toggle {
	color: #212121;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #212121;
}
.navbar-wp .navbar-toggle:hover, .navbar-wp .navbar-toggle:focus {
	background: rgba(0,0,0,0);
	color: #212121;
}
/* --- transparent header--*/
.tr-head .navbar-wp {
	background: rgba(0,0,0,0);
}
.tr-head .navbar-wp .navbar-nav > li > a {
	color: #fff;
	background: rgba(0,0,0,0);
}
.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus, .navbar-wp .navbar-nav > .active > a, .navbar-wp .navbar-nav > .active > a:hover, .navbar-wp .navbar-nav > .active > a:focus {
	color: #f44336;
	background: rgba(0,0,0,0);
}
.navbar-wp .navbar-nav > .open > a, .navbar-wp .navbar-nav > .open > a:hover, .navbar-wp .navbar-nav > .open > a:focus {
	color: #f44336;
	background: rgba(0,0,0,0);
}

.tr-head .is-sticky .navbar-wp {
	background: #fff;
}
.tr-head .is-sticky .navbar-nav > li > a {
	color: #212121;
}
/*==================== Body & Global ====================*/
.wrapper {
	background: #fff;
}
body {
	color: #999;
}
.proficiency-heading h3, .proficiency-heading h3 a {
	color: #212121;
}
input[type="submit"], button {
	border-color: #f44336;
	background: #f44336;
	color: #fff;
}
input[type="submit"]:hover, button:hover, input[type="submit"]:focus, button:focus {
	border-color: #212121;
	background: #212121;
	color: #fff;
}
a {
	color: #f44336;
}
a:hover, a:focus {
	color: #212121;
}
blockquote {
	border-color: #f44336;
}
.proficiency-search-modal .proficiency-search .btn {
	background: #f44336;
	color: #fff;
}
.proficiency-search-modal .proficiency-search .btn:hover {
	background: #212121;
}
/*-- Alerts Styles --*/
.alert-success, .text-success {
	background-color: #2ac56c;
	color: #fff;
}
.alert-info, .text-info {
	background-color: #4593e3;
	color: #fff;
}
.alert-danger, .text-danger {
	background-color: #f06060;
	color: #fff;
}
.alert-warning, .text-warning {
	background-color: #fcd04b;
	color: #fff;
}
.progress-bar-success {
	background-color: #2ac56c;
	color: #fff;
}
.progress-bar-info {
	background-color: #4593e3;
	color: #fff;
}
.progress-bar-danger {
	background-color: #f06060;
	color: #fff;
}
.progress-bar-warning {
	background-color: #fcd04b;
	color: #fff;
}
.subscription-success {
	color: #2ac56c;
}
.subscription-error {
	color: #f06060;
} 
.proficiency-error-404 h1 i {
	color: #f44336;
}
/*==================== Slider ====================*/
#proficiency-slider .slide-caption h1 {
	color: #fff;
}
#proficiency-slider .slide-caption h1 > span {
	color: #f44336;
}
.proficiency-slider-warraper .owl-controls .owl-buttons div {
	background: #fff;
	color: #212121;
	border-color: #fff;
}
#proficiency-slider .proficiency-slider-inner {
	background: rgba(0, 0,0, 0.6);
}
.proficiency-slider-warraper .slide-inner-box {
	background: rgba(0, 0, 0, 0.8);
}
.proficiency-slider-warraper .slide-inner-box-two {
	background: rgba(0, 0, 0, 0.8);
	outline-color: rgba(0, 0, 0, 0.8);
}
#proficiency-slider .slide-caption .description p {
	color: #fff;
}
.btn.btn-tislider {
	background: #f44336;
	color: #fff;
}
.btn-tislider-two {
	border-color: #fff;
	color: #212121;
	background: #fff;
}
.btn.btn-tislider:hover, .btn.btn-tislider:focus {
	background: #212121;
}
.btn-tislider-two:hover, .btn-tislider-two:focus {
	background: #f44336;
	color: #fff;
	border-color: #f44336;
}
.proficiency-slider-warraper .owl-controls .owl-buttons div:hover {
	background: #f44336;
	border-color: #f44336;
	color: #fff;
}
.proficiency-slider-warraper .owl-controls .owl-page span {
	background: #fff;
}
.proficiency-slider-warraper .owl-controls .owl-page.active span {
	background: #f44336;
}
/*==================== service ====================*/
.proficiency-service {
	border-color: #f44336;
}
.proficiency-service-inner .ser-icon {
	border-color: #eee;
}
.proficiency-service-inner h3, .proficiency-service-inner h3 a {
	color: #121212;
}
.proficiency-service:hover .proficiency-service-inner h3, .proficiency-service:hover .proficiency-service-inner h3 a, .proficiency-service:hover .proficiency-service-inner p, .proficiency-service:hover .proficiency-service-inner i {
	color: #fff
}
.proficiency-service:hover .proficiency-service-inner h3 span {
	color: #fff
}
.proficiency-service:hover .proficiency-service-inner .btn-theme {
	background: #212121;
	color: #fff;
}
.proficiency-service::after {
	background: #f44336;
}
.proficiency-service-inner i {
	color: #f44336;
}
.proficiency-service-inner p {
	color: #999;
}
#service .owl-controls .owl-buttons div {
	background: #fff;
	border-color: #fff;
	color: #212121;
}
#service .owl-controls .owl-buttons div:hover {
	background: #f44336;
	border-color: #f44336;
	color: #fff;
}
#service .owl-controls .owl-page span {
	border-color: #f44336;
}
#service .owl-page.active {
	background: #f44336;
}
/*==================== calltoaction ====================*/
.proficiency-calltoaction .overlay {
	background: #f2f2f2;
}
.proficiency-calltoaction.two .overlay {
	background: rgba(225,225,225,0.9);
}
.proficiency-calltoaction-box-info h5 {
	color: #212121;
}
.proficiency-calltoaction-box-info p {
	color: #212121;
}
/*==================== callout ====================*/
.proficiency-callout .overlay {
	background: rgba(0, 0, 0, 0.6);
}
.proficiency-callout h3, .proficiency-callout p {
	color: #fff;
}
/*==================== blog ====================*/
#proficiency-slider-blog .proficiency-slider-inner {
	background: rgba(0,0,0,0.6);
}
#proficiency-slider-blog .slide-caption h1 {
	color: #fff;
}
#proficiency-slider-blog .slide-caption h1 > span {
	color: #f44336;
}
#proficiency-slider-blog .slide-caption .description p {
	color: #fff;
}
.proficiency-blog-slider-warraper .owl-controls .owl-buttons div {
	background: #fff;
	color: #212121;
	border-color: #fff;
}
.proficiency-blog-slider-warraper .owl-controls .owl-buttons div:hover {
	background: #f44336;
	border-color: #f44336;
	color: #fff;
}
.proficiency-blog-slider-warraper .owl-controls .owl-page span {
	background: #fff;
}
.proficiency-blog-slider-warraper .owl-controls .owl-page.active span {
	background: #f44336;
}
.proficiency-blog-section .overlay {
	background: #fff;
}
.proficiency-blog-post-box h2, .proficiency-blog-post-box h2 a {
	color: #212121;
}
.proficiency-blog-post-box h2::before {
	color: #f44336;
}
.proficiency-blog-post-box h2:hover, .proficiency-blog-post-box h2 a:hover, .proficiency-blog-post-box h2:focus, .proficiency-blog-post-box h2 a:focus {
	color: #f44336;
}
.proficiency-blog-category a {
	color: #999;
}
.proficiency-blog-category a:hover {
	color: #f44336;
}
.proficiency-blog-category i {
	color: #999;
}
.proficiency-blog-date {
	background: #f44336;
}
.proficiency-blog-date span {
	color: #fff;
}
.proficiency-blog-date .h3::after {
	border-color: #f44336;
}
.proficiency-comments h4 {
	color: #212121;
}
.proficiency-blog-author {
	background: #e8e8e8;
}
.proficiency-info-author-block {
	border-color: #f0f0f0;
	color: #999;
}
.proficiency-info-author-block a {
	color: #212121;
}
.proficiency-info-author-block h4 {
	color: #333;
}
.proficiency-info-author-block h4 span {
	color: #999999;
}
.proficiency-info-author-block .proficiency-info-author-social li a {
	color: #757575;
}
.proficiency-info-author-block .proficiency-info-author-social li:hover {
	background: #f44336;
	color: #fff;
}
.proficiency-info-author-block .proficiency-info-author-social li:hover a {
	color: #fff;
}
.comment_section .comment-reply-link {
	background: #f0f0f0;
	color: #666;
	border-color: #f0f0f0;
}
.proficiency-comments a {
	color: #777;
}
.proficiency-comments h4 span {
	color: #999999;
}
.proficiency-comments .comment .media-body > p:last-child {
	border-color: #f0f0f0;
}
.proficiency-comments li .media-body > .small {
	color: #999;
}
.proficiency-comments li .media-body > p {
	border-color: #eee;
	color: #999;
}
.proficiency-comments .comment-list li {
	background: #fff;
	border-color: #eee;
}	
.blog-slider .owl-controls .owl-buttons div {
	background: #fff;
	border-color: #fff;
	color: #212121;
}
.blog-slider .owl-controls .owl-buttons div:hover {
	background: #f44336;
	border-color: #f44336;
	color: #fff;
}
.blog-slider .owl-controls .owl-page span {
	background: #fff;
}
.blog-slider .owl-controls .owl-page.active span {
	background: #f44336;
}
.blog-slider .owl-controls .owl-page span.owl-numbers {
	color: #fff;
}
/*==================== contact ====================*/
.proficiency-contact h5 {
	color: #212121;
	border-color: #eee;
}
.proficiency-contact h5::before {
	border-color: #f44336;
}
.proficiency-contact .proficiency-widget-address li span.icon-addr {
	background: #f44336;
}
.proficiency-contact .proficiency-widget-address li span.icon-addr i {
	color: #fff;
}
.proficiency-contact .proficiency-widget-address > li {
	border-color: #eee;
}
/*==================== Sidebar ====================*/
.proficiency-sidebar .proficiency-widget {
	border-color: #eee;
}
.proficiency-sidebar .proficiency-widget h6 {
	color: #212121;
	border-color: #eee;
}
.proficiency-sidebar .proficiency-widget h6::before {
	border-color: #f44336;
}
.proficiency-sidebar .proficiency-widget ul li {
	border-color: #eee;
}
.proficiency-sidebar .proficiency-widget ul li a {
	color: #f44336;
}
.proficiency-sidebar .proficiency-widget ul li a:hover, .proficiency-sidebar .proficiency-widget ul li a:focus {
	color: #212121;
}
.proficiency-sidebar .proficiency-widget .proficiency-blog-post h3 a {
	color: #212121;
}
.proficiency-sidebar .proficiency-widget.widget_search .btn {
	color: #fff;
	background: #f44336;
}
.proficiency-sidebar .proficiency-widget.widget_search .btn:hover, .proficiency-sidebar .proficiency-widget.widget_search .btn:focus {
	background: #212121;
}
.proficiency-sidebar .proficiency-mailchimp-widget .btn {
	color: #fff;
	background: #f44336;
}
.proficiency-sidebar .proficiency-widget .proficiency-widget-tags a, .proficiency-sidebar .proficiency-widget .tagcloud a {
	background: #212121;
	border-color: #212121;
	color: #fff;
}
.proficiency-sidebar .proficiency-widget .proficiency-widget-tags a:hover, .proficiency-sidebar .proficiency-widget .tagcloud a:hover, .proficiency-sidebar .proficiency-widget .proficiency-widget-tags a:focus, .proficiency-sidebar .proficiency-widget .tagcloud a:focus {
	color: #fff;
	background: #f44336;
	border-color: #f44336;
}
.proficiency-sidebar .proficiency-widget .proficiency-social li span.icon-soci {
	color: #f44336;
	border-color: #f44336;
}
.proficiency-sidebar .proficiency-widget .proficiency-social li span.icon-soci:hover {
	color: #fff;
	background: #f44336;
	border-color: #f44336;
}
.proficiency-sidebar .proficiency-widget .proficiency-social li span.icon-soci:hover i {
	color: #fff;
}
.proficiency-sidebar .proficiency-widget .proficiency-twitter-feed li::before {
	color: #f44336;
}
.proficiency-sidebar .proficiency-left-menu-widget ul li:hover, .proficiency-sidebar .proficiency-left-menu-widget ul li.active {
	background: #212121;
	color: #fff;
}
.proficiency-sidebar .proficiency-left-menu-widget ul li:hover a, .proficiency-sidebar .proficiency-left-menu-widget ul li.active a {
	color: #fff;
}
.proficiency-sidebar .proficiency-left-menu-widget ul li a {
	color: #212121;
}
.proficiency-sidebar .proficiency-widget .proficiency-widget-address li span.icon-addr { 
	color: #fff;
	background: #f44336;
}
/*==================== general ====================*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: #212121;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
	color: #f44336;
}
.btn-theme {
	background: #f44336;
	color: #fff;
	border-color: #f44336;
}
.btn-theme:hover, .btn-theme:focus {
	background: #212121;
	color: #fff;
	border-color: #212121;
}
.btn-theme-two {
	color: #212121;
	border-color: #fff;
	background: #fff;
}
.btn-theme-two:hover, .btn-theme-two:focus {
	background: #f44336;
	color: #fff;
	border-color: #f44336;
}
.btn-blog:hover, .btn-blog:focus {
	background: #f44336;
	color: #fff;
	border-color: #f44336;
}
/*==================== pagination color ====================*/
.pagination > li > a, .pagination > li > span {
	color: #212121;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > li > a:hover, .pagination > li > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	border-color: #f44336;
	background: #f44336;
	color: #fff;
}
/*==================== typo ====================*/
.proficiency-breadcrumb-section .overlay {
	background: #f2f2f2;
}
.proficiency-breadcrumb-section.transparent .overlay {
	background: rgba(0,0,0,0.4);
}
.proficiency-breadcrumb-section.transparent .overlay .proficiency-breadcrumb-title h1 {
	color: #fff;
}
.proficiency-breadcrumb-section.transparent .overlay .proficiency-page-breadcrumb > li a {
	color: #fff;
}
.proficiency-breadcrumb-section.transparent .proficiency-page-breadcrumb > li + li:before {
	color: #fff;
}
.proficiency-breadcrumb-title h1 {
	color: #212121;
}
.proficiency-page-breadcrumb > li a {
	color: #212121;
}
.proficiency-page-breadcrumb > li a:hover, .proficiency-page-breadcrumb > li a:focus {
	color: #f44336;
}
.proficiency-page-breadcrumb > li + li:before {
	color: #212121;
}
/*==================== blog ====================*/
.proficiency-comments .proficiency-reply:hover, .proficiency-comments .proficiency-reply:focus {
	color: #fff;
	background: #f44336;
	border-color: #f44336;
}
.proficiency-heading-bor-bt h5 {
	color: #212121;
}
.proficiency-heading-bor-bt h5::before {
	border-color: #f44336;
}
/*==================== footer background ====================*/
footer .overlay {
	background: #212121;
}
footer .proficiency-footer-top-area h6 {
	color: #fff;
}
footer .proficiency-widget h6 {
	color: #fff;
}
footer .proficiency-widget ul li {
	color: #969ea7;
}
footer .proficiency-widget ul li a {
	color: #969ea7;
}
footer .proficiency-widget ul li a:hover, footer .proficiency-widget ul li a:focus {
	color: #fff;
}
footer .proficiency-widget .proficiency-widget-address li {
	color: #969ea7;
}
footer .proficiency-widget .proficiency-opening-hours li {
	color: #969ea7;
}
footer .proficiency-blog-post h3, footer .proficiency-blog-post h3 a {
	color: #fff;
}
footer .proficiency-widget .proficiency-widget-address li span.icon-addr {
	background: #f44336;
}
footer .proficiency-widget .proficiency-widget-address li span.icon-addr i {
	color: #fff;
}
footer .proficiency-blog-post span {
	color: #969ea7;
}
footer .proficiency-widget .proficiency-twitter-feed li a {
	color: #f44336;
}
footer .proficiency-footer-copyright {
	background: rgba(0,0,0,0.2);
}
footer .proficiency-footer-copyright p, footer .proficiency-footer-copyright a {
	color: #969ea7;
}
footer .proficiency-footer-copyright a:hover, footer .proficiency-footer-copyright a:focus {
	color: #fff;
}
footer .proficiency-widget p {
	color: #fff;
}
footer .proficiency-social li span.icon-soci a {
	color: #fff;
}
footer .proficiency-social li span.icon-soci {
	background: rgba(255, 255, 255, 0.07);
	color: #fff;
}
footer .proficiency-social li span.icon-soci:hover, footer .proficiency-social li span.icon-soci:focus {
	border-color: #f44336;
	background: #f44336;
}
footer .proficiency-social li span.icon-soci:hover a, footer .proficiency-social li span.icon-soci:focus a {
	color: #fff;
}
footer .proficiency-widget.widget_search .btn {
	color: #fff;
	background: #f44336;
	border-color: #f44336;
}
footer .proficiency-widget.widget_search .btn:hover, footer .proficiency-widget.widget_search .btn:focus {
	background: #212121;
	border-color: #212121;
}
footer .proficiency-mailchimp-widget .btn {
	color: #fff;
	background: #f44336;
	border-color: #f44336;
}
footer .proficiency-mailchimp-widget .btn:hover, footer .proficiency-mailchimp-widget .btn:focus {
	background: #212121;
	border-color: #212121;
}
footer .proficiency-widget .proficiency-widget-tags a, footer .proficiency-widget .tagcloud a {
	background: #969ea7;
	border-color: #969ea7;
	color: #fff;
}
footer .proficiency-widget .proficiency-widget-tags a:hover, footer .proficiency-widget .tagcloud a:hover, footer .proficiency-widget .proficiency-widget-tags a:focus, footer .proficiency-widget .tagcloud a:focus {
	color: #fff;
	background: #f44336;
	border-color: #f44336;
}
.ta_scroll {
	background: #f44336;
	border-color: #f44336;
	color: #fff;
}
.ta_scroll:hover, .ta_scroll:focus {
	color: #fff;
}
/*form-control*/
.form-group label {
    color: #515151;
}
.form-control:focus {
	border-color: #f44336;
}
.form-group label::before {
    background-color: #dddddd;
}
.form-group label::after {
	background-color: #f44336;
}


/*Responsive*/ 
@media (max-width: 992px) {
.ta-trhead {
	background: rgba(0,12,28,0.8);
}
}
