#customize-controls .control-section-croccanteProVersion .accordion-section-title:hover,
#customize-controls .control-section-croccanteProVersion .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-croccanteProVersion .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
#accordion-section-cresta_croccante_buy_pro .accordion-section-title .button:first-child {
	background: #689e5b;
    color: #fff;
    box-shadow: none;
    border: none;
}
#accordion-section-cresta_croccante_locked_pro .accordion-section-title .button:after {
	font-family: dashicons;
	content: "\f160";
	padding-left: 3px;
    float: right;
	font-size: 150%;
}
.rtl .control-section-croccanteProVersion .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
